<!-- addLesson.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lesson</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<h2>Add Lesson</h2>

<form action="/user/lesson/save" method="post">
    <!-- Wybór instruktora -->
    <input type="hidden" name="isGroup" value="0">

    <div>
        <label for="instructorId">Select Instructor:</label>
        <select name="instructorId" id="instructorId" required>
            <option th:each="instructor : ${instructors}"
                    th:value="${instructor.id}"
                    th:text="${instructor.name}"></option>
        </select>
    </div>

    <!-- Wybór daty -->
    <div>
        <label for="lessonDate">Select Lesson Date:</label>
        <input type="date" name="lessonDate" id="lessonDate" required>
    </div>

    <!-- Wybór dostępności instruktora w danym dniu -->
    <div>
        <label for="lessonTime">Select Lesson Time:</label>
        <select name="lessonTime" id="lessonTime" required>
            <!-- Lista będzie generowana dynamicznie w oparciu o dostępność instruktora w danym dniu -->
        </select>
    </div>
    <div>
        <label for="lessonEndTime">Godzina zakończenia lekcji:</label>
        <input type="time" name="endTime" id="lessonEndTime" readonly>
    </div>

    <div th:each="student, iterStat : ${students}">
        <input type="checkbox" th:id="${'student_' + student.id}" th:name="studentIds" th:value="${student.id}" onclick="limitCheckboxSelection(this, 3)" />
        <label th:for="${'student_' + student.id}" th:text="${student.name + ' ' + student.surname}"></label><br />
    </div>

    <!-- Dodaj miejsce na wyświetlenie liczby zaznaczonych checkboxów -->
    <p id="selectedCount" hidden>Liczba zaznaczonych: 0</p>
    <button type="submit">Add Lesson</button>

    <p id="selectedPrice">Cena: 0 zł</p>
</form>

<script th:inline="javascript">
    $(document).ready(function() {
        // Obsługa zmiany czasu rozpoczęcia lekcji
        $('#lessonTime').on('change', function() {
            // Pobierz wybrany czas rozpoczęcia
            var startTime = $('#lessonTime').val();

            // Sprawdź, czy wybrano czas rozpoczęcia
            if (startTime) {
                // Dodaj jedną godzinę do czasu rozpoczęcia i ustaw jako czas zakończenia
                var endTime = new Date("1970-01-01T" + startTime);
                endTime.setHours(endTime.getHours() + 1);

                // Formatuj czas zakończenia i ustaw go jako wartość pola czasu zakończenia
                var formattedEndTime = endTime.toTimeString().substring(0, 5);
                $('#lessonEndTime').val(formattedEndTime);
            } else {
                // Jeśli czas rozpoczęcia nie jest wybrany, wyczyść pole czasu zakończenia
                $('#lessonEndTime').val('');
            }
        });
    });
    function limitCheckboxSelection(checkbox, maxLimit) {
        var selectedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
        document.getElementById('selectedCount').textContent = 'Liczba zaznaczonych: ' + selectedCount;

        // Oblicz cenę w zależności od liczby zaznaczonych checkboxów
        var price;
        if (selectedCount === 1) {
            price = 100;
        } else if (selectedCount === 2) {
            price = 180;
        } else if (selectedCount >= 3) {
            price = 250;
        } else {
            price = 0;  // Cena dla braku zaznaczonych checkboxów
        }

        // Aktualizuj wyświetlaną cenę
        document.getElementById('selectedPrice').textContent = 'Cena: ' + price + ' zł';

        // Dodaj tutaj kod, jeśli chcesz coś zrobić, gdy osiągnięto limit
        if (selectedCount > maxLimit) {
            checkbox.checked = false;
            alert('Osiągnięto limit zaznaczonych checkboxów (' + maxLimit + ').');
        }
    }


    $(document).ready(function() {
        // Obsługa zmiany daty
        $('#lessonDate').on('change', function() {
            updateAvailability();
        });

        // Obsługa zmiany instruktora
        $('#instructorId').on('change', function() {
            updateAvailability();
        });

        function updateAvailability() {
            var selectedDate = $('#lessonDate').val();
            var selectedInstructor = $('#instructorId').val();

            // Pobierz dostępność instruktora w danym dniu z kontrolera
            $.get('/user/lesson/availability', { date: selectedDate, instructorId: selectedInstructor }, function(data) {
                console.log(data);
                // Wypełnij rozwijaną listę z dostępnymi godzinami
                var timeDropdown = $('#lessonTime');
                timeDropdown.empty();
                $.each(data, function(index, value) {
                    timeDropdown.append('<option value="' + value + '">' + value + '</option>');
                });
            });
        }
    });
</script>
</body>
</html>



