<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>
<form action="/register" method="post" th:action="@{/register}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:required="true">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:required="true">

    <br>
    <button type="submit">Register</button>
</form>
</body>
</html>
