<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>

<h2>Formularz rejestracji</h2>

<!-- Dodaj sekcję dla komunikatów błędów -->
<div th:if="${#fields.hasErrors('user.username')}" class="alert alert-danger">
    <p th:errors="*{user.username}"></p>
</div>

<!-- Formularz rejestracji -->
<form th:object="${user}" method="post" action="/register">

    <!-- Pola formularza -->
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <br/>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br/>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required>
    <br/>
    <label for="phoneNumber">Numer telefonu:</label>
    <input type="phoneNumber" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required>
    <br/>

    <!-- Pozostałe pola formularza -->

    <button type="submit">Zarejestruj</button>
</form>

</body>
</html>
