<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj lekcje</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<h2>Dodaj lekcje</h2>

<form action="/admin/lesson/save" method="post">

    <div>
        <label for="instructorId">Wybierz instruktora:</label>
        <select name="instructorId" id="instructorId" required>
            <option th:each="instructor : ${instructors}"
                    th:value="${instructor.id}"
                    th:text="${instructor.name}"></option>
        </select>
    </div>
    <div>
        <label for="lessonName">Nazwa lekcji:</label>
        <input type="text" id="lessonName" name="lessonName"  required>
    </div>

    <div>
        <label for="lessonDate">Data:</label>
        <input type="date" name="lessonDate" id="lessonDate" required>
    </div>


    <div>
        <label for="lessonTime">Start:</label>
        <select name="lessonTime" id="lessonTime" required>

        </select>
    </div>
    <div>
        <label for="lessonEndTime">Koniec:</label>
        <select name="endTime" id="lessonEndTime" required>
            <!-- Tutaj generujesz opcje dla endTime -->
        </select>
    </div>
    <div>
        <input type="checkbox" name="isGroup" id="isGroup" th:checked="${isGroup}">
        <label for="isGroup">Is group?</label>
    </div>



    <div th:each="student, iterStat : ${students}">
        <input type="checkbox" th:id="${'student_' + student.id}" th:name="studentIds" th:value="${student.id}" />
        <label th:for="${'student_' + student.id}" th:text="${student.name + ' ' + student.surname}"></label><br />
    </div>

    <button type="submit">Zapisz</button>
    <br>
    <a th:href="@{/admin/lesson/all}">Wróć</a>

</form>

<script th:inline="javascript">

    $(document).ready(function() {
        // Obsługa zmiany daty
        $('#lessonDate').on('change', function() {
            updateAvailability();
        });

        // Obsługa zmiany instruktora
        $('#instructorId').on('change', function() {
            updateAvailability();
        });

        function updateAvailability() {
            var selectedDate = $('#lessonDate').val();
            var selectedInstructor = $('#instructorId').val();

            // Pobierz dostępność instruktora w danym dniu z kontrolera
            $.get('/admin/lesson/availability', { date: selectedDate, instructorId: selectedInstructor }, function(data) {
                console.log(data);

                // Wypełnij rozwijaną listę z dostępnymi godzinami rozpoczęcia
                var timeDropdown = $('#lessonTime');
                timeDropdown.empty();
                data.sort();
                $.each(data, function(index, value) {
                    timeDropdown.append('<option value="' + value + '">' + value + '</option>');
                });

                // Wypełnij rozwijaną listę z dostępnymi godzinami zakończenia
                var endTimeDropdown = $('#lessonEndTime');
                endTimeDropdown.empty();

                // Pobierz maksymalną godzinę dostępności
                var maxAvailabilityHour = Math.max(...data.map(time => parseInt(time.split(':')[0])));

                // Generuj opcje dla endTime z interwałem 1 godziny
                for (var i = 1; i <= maxAvailabilityHour + 1; i++) {
                    var hour = i.toString().padStart(2, '0');
                    endTimeDropdown.append('<option value="' + hour + ':00">' + hour + ':00</option>');
                }
            });
        }
    });
</script>
</body>
</html>
