<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
</head>
<body>
<h2><span th:text="'Cześć '+${username}"></span></h2>

<a href="/admin/addInstructorForm">Dodaj Instruktora</a>
<br>
<a th:href="@{/admin/instructorAvailability/add}">Dodaj Dostępność Instruktora</a>
<br>
<a th:href="@{/admin/lesson/all}">Wszystkie lekcje</a>
<br>
<a th:href="@{/admin/instructorPayout}">Wypłać instruktorowi</a>
<br>
<a href="/logout">Wyloguj</a>

</body>
</html>
