<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekcje</title>
</head>
<body>

<h2>Lekcje</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Data</th>
        <th>Start</th>
        <th>Koniec</th>
        <th>Instruktor</th>
        <th>Kursanci</th>
        <th><a th:href="@{/admin/lesson/add}">Dodaj nową lekcę</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${allLessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.name}"></td>
        <td th:text="${lesson.lessonDate}"></td>
        <td th:text="${lesson.startTime}"></td>
        <td th:text="${lesson.endTime}"></td>
        <td th:text="${lesson.instructor.name}"></td>
        <td>

            <ul>
                <li th:each="student : ${lesson.students}" th:text="${student.name + ' ' + student.surname}"></li>
            </ul>
        </td>
        <td><a th:href="@{/admin/lesson/edit/{id}(id=${lesson.id})}">Edytuj</a></td>
        <td><a th:href="@{/admin/lesson/delete/{id}(id=${lesson.id})}">Usuń</a></td>


    </tr>
    </tbody>
</table>

<a th:href="@{/admin/home}">Cofnij</a>

</body>
</html>
