<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edycja lekcji</title>
</head>
<body>
<!-- Treść body -->

<h2>Edycja lekcji</h2>

<h3>Szczegóły:</h3>
<p th:text="${'Id Lekcji: ' + lesson.id}"></p>
<p th:text="${'Nazwa lekcji: ' + lesson.name}"></p>

<h3>Kursanci::</h3>
<form th:action="@{|/admin/lesson/edit/${lesson.id}/removeStudent|}" method="post">
  <ul>
    <li th:each="student : ${allStudentsForLesson}">
      <span th:text="${student.name + ' ' + student.surname}"></span>
      <button type="submit" name="studentId" th:value="${student.id}" onclick="return confirm('Are you sure you want to remove this student from the lesson?')">Remove</button>
    </li>
  </ul>
</form>
<br>
<br>

<h3>Dodaj kursanta:</h3>
<form th:action="@{|/admin/lesson/edit/${lesson.id}/addStudent|}" method="post">
  <select name="newStudentId">
    <option th:each="student : ${allStudentsNotInLesson}" th:value="${student.id}" th:text="${student.name + ' ' + student.surname}"></option>
  </select>
  <button type="submit">Zapisz</button>
</form>

<br>
<a th:href="@{/admin/lesson/all}">Wróć</a>

</body>
</html>