<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wypłaty instruktorów</title>
</head>
<body>

<h1>Wypłaty instruktorów</h1>


<ul th:each="instructor : ${allInstructors}">
  <li>
    <span th:text="${instructor.name + ' ' + instructor.surname}"></span> -
    <span th:text="${instructor.earnings+' ZŁ'}"></span>
    <form action="/admin/instructorPayout/resetEarnings" method="post">
      <input type="hidden" name="instructorId" th:value="${instructor.id}" />
      <button type="submit">Wypłać</button>
    </form>
  </li>
</ul>

<br>
<a th:href="@{/admin/home}">Cofnij</a>
</body>
</html>
