<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
</head>
<body>
<h2><span th:text="'Cześć '+${username}"></span></h2>

<a th:href="@{/user/addStudent}">Dodaj nowego kursanta</a>
<br>
<a th:href="@{/user/lesson/add}">Dodaj lekcje indywidualną</a>
<br>
<a th:href="@{/user/lesson/addToGroup}">Zapisz się na lekcje grupową</a>
<br>
<a th:href="@{/user/lesson/created}">Moje lekcje</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>
